@model IEnumerable<grand_circus.Models.Course>

@{
    ViewData["Title"] = "AddCourse";
}

<h1>AddCourse</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    <a asp-action="Enroll" asp-route-id="@item.CourseId">Add</a>
                </td>
            </tr>
        }
    </tbody>
</table>